<html>
    <body>
        <h1>Cadastro</h1>
        <form method="post" action="{% url 'cadastro' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Nome">
            <input type="email" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Senha">
            <input type="submit" value="Cadastro">
        </form>

        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'login' %}">Login</a>
    </body>
</html>